In [26]:
import pandas as pd
import numpy as np

In [27]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [28]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [29]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[16, 85, 17],
       [97, 49, 71],
       [39, 62, 74]])

In [38]:
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      16      85      17
satır2      97      49      71
satır3      39      62      74

In [40]:
veriler=[["sueyna","çelik",17],["rabia","kılıç",17]]
veriler

[['sueyna', 'çelik', 33], ['rabia', 'kılıç', 17]]